<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>sentryDSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>CFBundleName</key>
	<string>Abonementi</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>CFBundleIdentifier</key>
	<string>com.timozacherl.Subscriptions</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>premiumIAP</key>
	<string>$(PREMIUM_IAP)</string>
	<key>tipIAPs</key>
	<array>
		<string>$(INSANE)</string>
		<string>$(GIANT)</string>
		<string>$(HUGE)</string>
		<string>$(LARGE)</string>
		<string>$(GREAT)</string>
		<string>$(GENEROUS)</string>
		<string>$(SUBSTANTIAL)</string>
	</array>
</dict>
</plist>
